# Folders #
########################################
output/
target/
oftvis/
.idea/
output_archive/
output_*/
.vscode/
.VSCodeCounter/


# Files #
#########
.DS_Store
RunMunich.java
RunOFTVis.java
*.iml
*.swp
*.swo
*.log


# Compiled source #
###################
*.com
*.class
*.dll
*.exe
*.o
*.so


# Packages #
############
# it's better to unpack these files and commit the raw source
# git has its own built in compression methods
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip

# Unused files #
############
# These files may come into play later
# So far they are likely to be used in local tests 
dtd/config_v2.dtd
dtd/electric_vehicles_v1.dtd
dtd/network_v2.dtd
dtd/population_v6.dtd
